@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;

  background-image: url("/public/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @apply text-white;
}

/* 🌑 Overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  z-index: -1;
}